@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

* {
  max-width: 1920px;
  font-family: 'Pretendard';
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local('※'), url('/fonts/Pretendard-Light.woff2') format('woff2'),
    url('/fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('※'), url('/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('※'), url('/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('/fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local('※'), url('/fonts/Pretendard-SemiBold.woff2') format('woff2'),
    url('/fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('※'), url('/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('/fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local('※'), url('/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
    url('/fonts/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('※'), url('/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local('※'), url('/fonts/OpenSans-Semibold.woff2') format('woff2'),
    url('/fonts/OpenSans-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('※'), url('/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('/fonts/OpenSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local('※'), url('/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
    url('/fonts/OpenSans-ExtraBold.woff') format('woff');
}
