#markdown-content {
  font-size: 24px;
  padding: 0px 20px;
  word-break: break-all;
  blockquote {
    margin-top: 1em;
  }
  p {
    @apply text-c-black-300 font-light;
  }
}

@media screen and (max-width: 1100px) {
  #markdown-content {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  #markdown-content {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  #markdown-content {
    padding: 0px 10px;
  }
}
