[data-aos='aos-init'] {
  background: rgba($color: #eb691b, $alpha: 0);

  span {
    color: #eb691b;
  }

  &.aos-animate {
    background: rgba($color: #eb691b, $alpha: 1);

    span {
      // animation: textAnimate 1s linear;
      color: white;
    }
  }

  // @keyframes textAnimate {
  //   0% {
  //     color: #eb691b;
  //   }
  //   100% {
  //     color: white;
  //   }
  // }
}
